*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: lightgreen;
  height: 5rem;
  width: 100%;
  padding: 1rem 0 0 0;
}

img {
  display: block;
  width: 100%;
  max-width: 350px;
  height: auto;
  background-color: lightgreen;
  margin: 1rem auto;
}

.text {
  display: block;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 1rem auto;
}

footer {
  position: relative;
  display: block;
  background-color: lightgreen;
  height: 3rem;
  width: 100%;
  bottom: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .box {
    display: flex;
    flex-direction: row;
  }

  img {
    margin: 0.5rem auto;
  }
}

@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .box {
    display: inline-block;
    width: 100%;
    margin: 0 1rem;
  }
  img {
    margin: 0.5rem auto;
  }

  .text {
    margin-bottom: 2rem;
  }

  footer {
    position: fixed;
  }
}
